main * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-category section {
    border: 3px solid darkslategrey;
    border-radius: 10%;
    padding: 10px;
    max-width: 170px;
}

li, h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.budget-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recent-transactions {
    align-self: center;
    justify-content: center;
}

.recent-transactions ul {
    padding-left: 0;
}

.recent-transactions li {
    display: flex;
    justify-content: flex-start;
}

main li a {
    text-decoration: none;
}

@media (min-width: 500px) {
    .budget-content {
        flex-direction: row;
    }
}