/* main stylesheet for necessary non-bootstrap styles */
html {
    background-color: antiquewhite;
    height: 100%
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:darkslategrey;
    color:antiquewhite;
    text-decoration: none;
}

header nav menu {
  display: flex;
  gap: 15px; /* spacing between items */
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
}

header nav a {
    color: antiquewhite;
}

header nav a:hover {
    color:coral;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: darkslategrey;
    color: antiquewhite;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: antiquewhite;
    text-decoration: underline;
}

footer a:hover {
    color: coral;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
}

main h1 {
    justify-self: center;
}

main a {
    color: darkslategrey;
    text-decoration: underline;
}

main a:hover {
    color: coral;
    text-decoration: none;
}

main aside {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

button {
    width: 75px;
    background-color: coral;
    color: darkslategrey;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

button:hover {
    background-color: antiquewhite;
}